@using test_e4.ViewModels;
@model ChangePasswordViewModel;

@{
	ViewData["Title"] = "Change Password";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="login container grid" id="loginAccessRegister">
	<ul class="loginHome">
		<a asp-controller="Home" asp-action="Index">Home</a>
	</ul>
	<div class="loginAccess">
		<h1 class="loginTitle">Change Password </h1>
		<div class="loginArea">
			<form asp-action="ChangePassword" method="post" class="loginForm">
				@Html.AntiForgeryToken()
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="loginContent grid">
					<div class="loginBox">
						<input asp-for="Email"  class="loginInput" readonly />
						<label asp-for="Email" class="loginLabel"></label>
						<i class="ri-mail-fill loginIcon"></i>
					</div>
					<div class="loginBox">
						<input asp-for="NewPassword" type="password" id="password" class="loginInput" />
						<label asp-for="NewPassword" class="loginLabel"></label>
						<i class="ri-eye-off-fill loginIcon loginPassword" id="loginPassword"></i>
					</div>
					<span asp-validation-for="NewPassword" class="text-danger"></span>
					<div class="loginBox">
						<input asp-for="ConfirmNewPassword" type="password" id="password" class="loginInput" />
						<label asp-for="ConfirmNewPassword" class="loginLabel"></label>
						<i class="ri-eye-off-fill loginIcon loginPassword" id="loginPassword"></i>
					</div>
					<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
				</div>
				<input type="submit" value="Submit" class="loginButton" />
				<div class="text-center mt-2">
					<a asp-controller="Account" asp-action="VerifyEmail" class="loginForgot text-center">Back</a>
				</div>
			</form>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}