@using test_e4.ViewModels;
@model VerifyEmailViewModel;

@{
	ViewData["Title"] = "Verify Email";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="login container grid" id="loginAccessRegister">
	<ul class="loginHome">
		<a asp-controller="Home" asp-action="Index">Home</a>
	</ul>
	<div class="loginAccess">
		<h1 class="loginTitle">Verify Email</h1>
		<div class="loginArea">
			<form asp-action="VerifyEmail" method="post" class="loginForm">
				@Html.AntiForgeryToken()
				<div class="loginContent grid">
					<div class="loginBox">
						<input asp-for="Email" required placeholder=" " class="loginInput" />
						<label asp-for="Email" class="loginLabel"></label>
						<i class="ri-mail-fill loginIcon"></i>
					</div>
				</div>
				<input type="submit" value="Verify" class="loginButton" />
				<div class="text-center mt-2">
					<a asp-controller="Account" asp-action="Login" class="loginForgot text-center">Back</a>
				</div>
			</form>
		</div>
	</div>
</section>>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}